@font-face {
    font-family: 'Grafitti';
    src: url('./grafitti.ttf');
}

:root {
    --black: rgb(45, 39, 31);
    --beige: rgb(255, 237, 205);
}

body {
    margin: 0;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--beige);
    z-index: 10;
}

header>ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 40%;
    padding: 0;
    margin: 0;
}

ul {
    font-size: 2rem;
}

header>ul>li {
    font-family: monospace;
    justify-self: center;
    padding: 1rem;
    font-family: 'Grafitti';
    letter-spacing: 2px;
}

header>ul>li:hover {
    transform: scale(1.2);
}
/* Styles for home page*/


.content {
    height: 200vh;
    margin-top: 10vh;
    width: 100vw;
    background-image: url('./tofu.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content.home {
    background-image: url('./tofu.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1.home-heading {
    color: rgb(32, 241, 0);
    text-align: center;
    transform: rotate(-2deg);
    font-family: 'Grafitti';
}

h1 {
    padding-top: 4rem;
    font-size: 6rem;
}

footer {
    height: 30vh;
    background-color: var(--black);
    font-family: monospace, serif;
}

footer>h3 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: var(--beige);
}

footer p {
    text-align: center;
    color: var(--beige);
}

h2 {
    text-align: center;
    font-family: monospace;
    font-size: 3rem;
}

.text-container {
    width: 40vw;
    padding: 4rem;
    background-color: rgba(255, 237, 205, 0.5);
    margin: 0 auto;
    border-radius: 2rem;
}

.text-container>p {
    font-family: monospace;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 3rem 0;
}